* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, main {
	height: 100%;
	padding: 0;
	margin: 0;
}

main {
	padding: 50px 0;
}

.container {
	max-width: 1024px;
	padding: 0 15px;
	margin: 0 auto;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background: #fcfcfc;
}

.body.auth {
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

h1, h2 {
	text-align: center;
	font-size: 32px;
	margin: 0;
	margin-bottom: 30px;
}

a {
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

a:hover {
	text-decoration: none;
	opacity: 0.7;
}

.field-error {
	border: 1px solid #ff006f !important;
}

.label-error {
	color: #ff006f !important;
}

.error-container {
	display: none;
}

.form-control {
	font-weight: 300;
}

.hidden {
	display: none;
}

.w-20 {
	width: 30% !important;
}

/* Шапка
------------------------------------------------------------------------------*/
header {
	background: #FAFEF7;
	-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
	padding: 20px 0;
}

header img {
	width: 30px;
}

nav ul {
	padding: 0;
	margin: 0;
	height: 100%;
	align-items: center;
}

nav li {
	list-style: none;
}

.logo-container a {
	align-items: center;
}

header a, header a:hover {
	color: inherit;
}

nav a {
	display: block;
	border-bottom: 2px solid transparent;
}

nav a:hover {
	opacity: 1;
	border-color: #4794ff;
}

.logo-container a > div {
	font-weight: 700;
}

/* Формы
------------------------------------------------------------------------------*/
.form-container {
	position: relative;
	width: 100%;
	max-width: 500px;
	min-width: 300px;
	margin: 0 auto;
}

.form-container form {
	padding: 30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
	background: white;
	margin-top: 20px;
}

.jsSignOut {
	font-size: 12px;
	line-height: 25px;
	cursor: pointer;
	color: #999999;
}

.jsSignOut:hover {
	color: red;
}